*{font-family: poppins;}
a{text-decoration: none; color: black;}
.headerBG{background-color: #F0FFF0;}
nav img{height: 60px;}
.navbar-expand-lg .navbar-nav .nav-link{padding-left: 1.5rem; font-size: 20px; color: #000; padding-right: 1.5rem; border-radius: 25px;}
.navbar-expand-lg .navbar-nav .nav-link:hover{background-color:#21B573; color: #fff;}
.navbar-expand-lg .navbar-nav .nav-link:active{background-color:#21B573; color: #fff;}
headerBG{height: 576px;}
.headertext h1{font-weight: bolder; font-family: poppins;}
.headertext a{background-color: #21B573; padding: 10px 30px; text-decoration: none; color: #fff; border-radius: 20px;}
.cardBG img{max-height: 85px;}
.single-card{background-color: #F8FFFB; padding-top: 20px; border-radius: 25px; margin-left: 30px; height: 270px; width: 270px;}
.single-card:hover{background-color: #fff; cursor: pointer; box-shadow: 0px 0px 10px 0px grey}
.single-card h4{color: #413960;}
.single-card a{color: #585859;}
.single-card a:hover{color: #585859;}
.online-course h1{font-family: poppins; color: #413960;font-weight: bold;}
.single-course h3{font-family: poppins; font-weight: medium; color: #585859;}
.single-course h5{font-size: 16px; font-weight: regular;}
.single-course{height: 483px; width: 370px; border-radius: 25px;}
.single-course:hover{cursor:  ;}
.single-course p{font-size: 16px; color: #585859;}
.single-course .btn{border-radius: 25px; padding: 10px 20px;}
.single-course .cal-seat img{height: 24px;}
.testimonial img{height: 120px;}
.testimonial p{font-size: 16px;}
.footerBG{background-color: #282531;}
.footer-text p{color: #fff; font-weight: lighter;}
.footer-text h3{color: #fff;}
.footer-text ul li{list-style-type: none;}
.footer-text ul li a{color: #fff; font-weight: lighter;}
.copyright p{font-weight: lighter; color: #CDCDCD;}